<h1>Inventory</h1>

<div class="row">
  <div class="column">
  <h2>Alerts - low inventory</h2>
    <table style="color:red; display:table-header-group">
        <tr>
            <th>Store</th>
            <th>Model</th>
            <th>Inventory</th>
        </tr>
    <% @alerts.each do |alert| %>                    
        <tr>
            <td><%= alert.store.name %></td>
            <td><%= alert.model.name %></td>
            <td><%= alert.inventory %></td>
        </tr>
    <% end %>
    </table>
  </div>
  <div class="column">
    <h2>By store:</h2>
    <ul>
      <% @stores.each do |store| %>
        <li>
          <%= link_to store.name, "/store/#{store.id}" %>
        </li>
      <% end %>
    </ul>

    <h2>By model:</h2>
    <ul>
      <% @models.each do |model| %>
        <li>
          <%= link_to model.name, "/model/#{model.id}" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="column">
    <h2>Highest average inventory</h2>
    <p>** Accross all stores</p>
    <table style="color:green; display:table-header-group">
      <tr>
        <th>Model</th>
        <th>Inventory average</th>
      </tr>
  <% @high_inventory.each do |row| %>                    
      <tr>
        <td><%= row[0] %></td>
        <td><%= row[1] %></td>
      </tr>
  <% end %>
    </table>

    <h2>Lowest average inventory</h2>
    <p>** Accross all stores</p>
    <table style="color:orange; display:table-header-group">
      <tr>
        <th>Model</th>
        <th>Inventory average</th>
      </tr>
  <% @low_inventory.each do |row| %>                    
      <tr>
        <td><%= row[0] %></td>
        <td><%= row[1] %></td>
      </tr>
  <% end %>
    </table>
  </div>
</div>